*,*:after,*:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
}
header{
    max-height: 100px;
    background-color: blue;
}
.icon{
    max-height: 100px;
}
